{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Resume Site" />
    <meta name="author" content="Daniel Wakefield - 2023" />
    <meta name="language" content="en" />
    <meta name="robots" content="follow, all" />
    <meta name="revisit-after" content="5 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'resume/style.css' %}" rel="stylesheet" />
    <script src="{% static 'resume/script.js' %}"></script>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header">
                <a class="header-link" href="/index">Home</a>
                <a class="header-link" href="https://github.com/Deraingo"> My Github</a>
            </div>
        </div>

        <div id="employment">
            <h1>Employment</h1>
            <div id="expand1"></div>
            <h2>Utah Climate Center</h2>
            <div id="expand2"></div>
            <h2>Big Deal Outlet</h2>
            <div id="expand3"></div>
            <h2>(PPC) Processing Packaging Company</h2>
            <div id="expand4"></div>
        </div>
        <div id="education">
            <h1>Education</h1>
            <h2>American International School Riyadh (AISR)</h2>
            <h2>Fremont Highschool</h2>
            <h2>Utah State University</h2>
        </div>
        <div id="skills">
            <h1>Skills</h1>
        </div>
        <div id="acheivements">
            <h1>Acheivement</h1>
        </div>

        <div class="footer">
        </div>
    </div>
</body>
</html>