<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Utah State University, Logan Utah" />
    <meta name="author" content="Daniel Wakefield - 2022" />
    <meta name="language" content="en" />
    <meta name="robots" content="follow, all" />
    <meta name="revisit-after" content="5 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% load static %}" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <h1>Hello</h1>
</body>
</html>